:root {
  --color-bg: #f9ecdb;
  --lightblue: #479edb;
  --red: #f4221e;
  --orange: #ff6700;
  --green: #5baa09;
  --blue: #093ac6;
  --brown: #89582e;
  --yellow: #fdb939;
  --purple: #746ad0;
  --pink: #f45c87;
  --black: black;
  --white: white;
  --neutral1: #0b23474d;
  --neutral2: #1336678f;
  --neutral3: #090c14c2;
}

.pagepane {
  border-top: 2px solid black!important;
  opacity: 0;
  pointer-events: none;
  border: 0px #ffffff none;
    height: 100vh;
    width: 50%;
    right: 0;
    position: fixed;
    top: 0;
    border-left: 1px solid rgba(0,0,0,.45)!important;
  background-color: var(--color-bg);
  transition: .3s;
  transform: translateX(40%);
}

.birdcard h4 {
  user-select: none;
}

.filters {
  opacity: .3;
  pointer-events: none;
}

.pagepane iframe {
  position: absolute;
  z-index: 5;
   height: 100vh;
  width: 100%;
}

#x {
cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    font-size: 1rem;
    font-variation-settings: "anim" 100;
    color: var(--neutral2);
    border: 1px solid transparent;
  background-color: var(--color-bg);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 1.45;
    padding: 4px;
}

#x:hover {
  background-color: white;
}

nav {
  max-width: 400px;
}

nav a {
  color: var(--neutral3);
  font-family: 'IBM Plex Mono', monospace;
    font-size: .8rem;
    color: var(--neutral3);
}

.paneshow {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0%);
}

.monospan {
  font-family: 'IBM Plex Mono', monospace;
    font-size: .8rem;
    color: var(--neutral3);
}

.birdcard {
  width: 135px;
  position: relative;
  height: 170px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  border: 1px solid rgba(0,0,0,0.1);
/*     background-color: #ffffff; */
  cursor: pointer;
}

.birdcard:hover {
  background-color: white;
}

.sound {
  border: 1px solid rgba(0,0,0,.1);
  color: var(--neutral3);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.birdcard svg {
  height: 40%;
  max-width: 80px;
  margin-bottom: 10px;
  fill: var(--neutral3);
}

#loader {
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shapefilter {
}

@keyframes c2 {
  0%   { transform: translateX(0px);  }
  100% { transform: translateX(-88px);}
}

@keyframes c1 {
  0%   { transform: translateX(0px); }
  100% { transform: translateX(88px);}
}

#loader .st1 {
  animation: c2 .5s infinite;
}

#loader .st0 {
  animation: c1 .5s infinite;
}


.shapefilter div {
width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
  margin-right: 5px;
  border-radius: 5px;
}

.shapefilter svg {
  width: 20px;
  fill: var(--neutral2)!important;
}

.chartcontainer {
  display: flex;
  justify-content: space-between;
}

#colorchart, #shapechart {
  width: 50%;
}

#colorchart {
  padding-right: 12px;
}

#shapechart {
  padding-left: 12px;
}

#colorchart .bar {
  height: 21.5px;
}

@font-face {
  font-family: "Nay Aug";
  src: url("https://cdn.glitch.global/cedc551f-8766-4635-b71b-ca089ffe676c/NayAugp-Regular.ttf?v=1646230944800") format("truetype")
}

@font-face {
  font-family: 'Whirlybats';
  src: url('https://cdn.glitch.com/31e48906-2369-44ac-8e29-127425af25ce%2FWhirlybatsGX.ttf?v=1613538098017')  format('truetype');
}

    .wb-icon{
  font-family: 'Whirlybats';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #fdca39bd; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fdca39bd; /* Gecko Browsers */
}

* {
  -webkit-tap-highlight-color: transparent;
}

.shapeselect {
  text-align: center;
}

.editorial {
  font-family: 'IBM Plex Mono', monospace;
display: inline-block;
  padding: 10px;
  max-width: 400px;
  background-color: #ffbb004a;
  font-size: .8rem;
}

.editorial::before {
  content: "Editorial: ";
}

a {
  color: var(--blue);
  text-decoration: none;
}

.disable {
  pointer-events: none;
  animation: pulse .5s linear infinite;
  opacity: 1!important;
}

.shapechart svg {
  padding-top: 5px;
max-height: 25px;
    width: 25px;
    display: inline-block;
    padding-right: 5px;
}

.birdheader svg {
  fill: var(--neutral3);
}

#play {
display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* background-color: var(--lightblue); */
    line-height: !important;
    color: var(--black);
    font-size: 22px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.1);
}

.sound {
  cursor: pointer;
}

#play:active, .sound:active {
  transform: scale(.95)
}

#play:hover, .sound:hover {
  background-color: var(--lightblue);
  color: white;
}

.sicon {
  transform: translateY(-1px);
}

.shape {
  display: flex;
  background-color: var(--white);
  border-radius: 10px;
}

.shapeselect .shape {
  display: inline-flex;
  justify-content: center;
  border: 1px solid rgba(0,0,0,0);
  width: 30%;
  aspect-ratio: 1/1;
  margin: auto;
}

.credit, .googlesheet {
  font-family: 'IBM Plex Mono', monospace;
  font-size: .8rem;
  color: var(--neutral3);
}

.googlesheet {
  border: 1px solid rgba(0,0,0,.1);
  display: inline;
  padding: 5px;
}

footer {
  margin: auto;
  max-width: 300px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(0,0,0,.1)
}

@keyframes pulse {
0%   { font-variation-settings: "anim" 100; background-color: var(--black); color: white }
  100% { font-variation-settings: "anim" 200; background-color: var(--black); color: white }
}

@keyframes slide {
0%   { transform: translateX(20%) }
  100% { transform: translateX(0%) }
}

.screen {
  transition: .5s;
}

.locked {
  opacity: .3;
  pointer-events: none;
}

.shape svg {
  fill: gainsboro;
  transition: .2s;
}

.button {
  border: 1px solid var(--black);
  padding: 8px;
  border-radius: 100px;
  white-space: nowrap;
}

.button:hover {
  background-color: var(--black);
  color: var(--color-bg);
  cursor: pointer;
}

html, body {
  background-color: var(--color-bg);
  color: var(--black);
  text-align: left; 
  font-family: "Nay Aug", sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  margin-bottom: 5vh;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 1.05rem;
}

nav {
width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
      display: flex;
    align-items: center;
}

h4 img {
  padding-right: 10px;
}

.container {
  max-width: 650px;
  margin: auto;
  padding: 30px 15px 15px 15px;
  padding-bottom: 100px;
}

.wide {
  max-width: 1100px;
}

.colorselect .color {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 10px;
}

.colorfilter .color {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 10px;
}

.color {
  border: 2px solid var(--color-bg);
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color:hover, .shape:hover, .shapefilter div:hover {
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,.2);
}

.selected {
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,1)!important;
}

#submit {
  background-color: var(--black);
  color: var(--white);
}

#submit:hover {
  opacity: .75;
}

.shape svg {
  width: 50px;
}

#headerstats {
  display: flex;
  justify-content: space-between;
}

@keyframes appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#commonanswer {
  display: flex;
    justify-content: space-between;
  align-items: center;
}

#winner {
  width: 100px;
  aspect-ratio: 1/1;
  background-color: var(--white);
  border-radius: 10px;
}

h1 svg {
  max-width: 40px;
}

#commonanswer svg {
/*   animation: shape 1s;  */
}

@keyframes reveal {
  0%   { max-width: 0; }
  100% { max-width: 100%; }
}

@keyframes shape {
  0%   { transform: rotate(-150deg); opacity: 0 }
  100% { transform: rotate(0deg); opacity: 1 }
}

.bar {
max-width: 100%;
font-size: 15px;
animation: reveal 2s;
}

.Circle svg {
  fill: var(--neutral1)!important;
}

.Half-circle svg {
  fill: var(--neutral2)!important;
}

.Triangle svg {
  fill: var(--neutral3)!important;
}

.Square svg {
  fill: var(--neutral1)!important;
}

.Diamond svg {
  fill: var(--neutral2)!important;
}

.Rhombus svg {
  fill: var(--neutral3)!important;
}

.Bouba svg {
  fill: var(--neutral1)!important;
}

.Kiki svg {
  fill: var(--neutral2)!important;
}

.Loop svg {
  fill: var(--neutral3)!important;
}

.Line svg {
  fill: var(--neutral1)!important;
}

.Wave svg {
  fill: var(--neutral2)!important;
}

.Zigzag svg {
  fill: var(--neutral3)!important;
}

#headerstats, #winningresult {
  font-family: 'IBM Plex Mono', monospace;
  font-size: .8rem;
  color: var(--neutral3);
}

sub {
  font-family: 'IBM Plex Mono', monospace;
transform: translate(7px, -4px);
    display: inline-block;
    font-size: .8rem;
  color: var(--neutral3);
  opacity: 0;
  animation: appear .8s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.colorchart, .shapechart {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 200px;
}

.colorchart p, .shapechart p {
  white-space: nowrap;
}

#colorchart {
  border-right: 1px solid rgba(0,0,0,.1);
}

.colorchart .bar, .shapechart .bar {
  margin-bottom: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 2px;
}

.shapechart .bar {
  margin-bottom: 8px;
}

.colorchart .bar {
  margin-bottom: 8px;
}

p {
  padding: 0; 
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  letter-spacing: -.6px;
}

h1 {
/*   font-size: 1.5rem; */
}

hr {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

li svg {
  max-width: 30px;
  max-height: 15px;
  padding-right: 10px;
}

ol {
  list-style-type: none;
    margin: 0;
  padding: 0;
}

.birdheader {
display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    padding-bottom: 20px;
    background-color: var(--color-bg);
    position: sticky;
    top: 0;
    padding-top: 50px;
    z-index: 9;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 10px;
}

.birdheader h1 {
  color: var(--black);
  font-size: 1.8rem;
  width: calc(100% - 30px);
  letter-spacing: -1px;
}

h2 {
  font-size: 1.4rem;
  color: var(--neutral3);
}

.birdheader svg {
  max-height: 2rem;
}

@keyframes frameload {
  0%   { opacity: 0; }
  90%   { opacity: 0; }
  100% { opacity: 1; }
}

.frameload {
  animation: frameload 1s;
}

.softdisable {
  pointer-events: none;
  opacity: .5;
}

li {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 10px;
  margin: 0;
  text-align: left;
  display: flex;
    justify-content: space-between;
}

.widesplit {
  width: 50%;
  margin: initial;
  animation: slide .3s;
  box-sizing: border-box;
}

@keyframes placeback {
0%   { transform: translateX(-5%) }
  100% { transform: translateX(0%) }
}

.placeback {
  animation: placeback .3s;
}

.birdcard:active {
  transform: translateY(2px);
}

@media screen and (max-width: 600px) {
  .birdheader h1 {
    font-size: 1.2rem;
    letter-spacing: -.3px;
  }
  
  #colorchart {
  padding-right: 0;
    border-right: none;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 12px;
}

#shapechart {
  padding-left: 0;
}
  
  .birdheader svg {
    height: 20px;
    margin-right: -2px;
  }
  
  .chartcontainer {
    flex-direction: column;
  }
  
  #colorchart, #shapechart {
    width: 100%;
  }
  
  h2, h3, h4 {
  letter-spacing: -.5px;
}
  
    @keyframes slide {
0%   { transform: translateY(0%) }
  100% { transform: translateY(-5%) }
}
  
  @keyframes placeback {
0%   { transform: translateY(-5%) }
  100% { transform: translateY(0%) }
}
  
  .pagepane {
    width: 100%;
    transform: translateY(20%);
  }
  
  .paneshow {
  transform: translateY(0%);
}
  
  .filters {
    display: block;
  }
  
  .colorfilter, .shapefilter {
  }
  
  .widesplit {
  width: 100%;
  margin: initial;
  box-sizing: border-box;
}
  
}